$gray: #f3f1ef;
$dark: #000000a1;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: $gray;
}
h1 {
  font-weight: 500;
}
.text,
.list {
  font-weight: 300;
}
.italic {
  font-style: italic;
}
.list {
  padding: 1rem;
}
.list-item {
  list-style: none;
  padding: 0.25rem 0;
}
a {
  color: inherit;
}
.caption {
  color: $dark;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  padding: 1rem;
  a {
    color: inherit;
  }
}
.flourish-embed {
  padding: 1rem;
}
.container {
  width: 1080px;
  margin: 0 auto;
}
.head {
  height: 100vh;
}
.head__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.texty__link {
  text-decoration: none;
  font-weight: 500;
  color: $dark;
  font-size: 1.5rem;

  &:hover {
    text-decoration: underline;
  }
}
.head__nav-link {
  padding: 0 0.5rem;
}
.head__heading {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   opacity: 0.65;
  background: $gray
    url("http://eat.if.ua/images/Doc/%D0%A1%D1%85%D0%B5%D0%BC%D0%B0%20%D0%95%D0%90%D0%A2.png")
    no-repeat center;

  .heading {
    background-color: $gray;
    padding: 1rem;
    // opacity: 1;
  }
}
.text__upper {
  padding: 2rem 0;
}
.map__iframe {
  width: 100%;
  height: 100vh;
}
.foot {
  padding: 2rem;
  background-color: #00137c;
  color: #fff;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  .foot__link {
    color: #fff;
    padding: 0 0.5rem;
  }
}

@media (max-width: 1278px) {
  .container {
    width: 80%;
  }
  .text__upper {
    padding: 1.25rem 0;
  }
  .footer {
    padding: 1rem;
  }
}
